* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Define o tamanho da fonte para 10 pixels */
}

body {
  font-family: "Montserrat", sans-serif;
  /* background: #251717; */
  color: #fafafa;
  background-image: url("./assets/5137894.jpg");
  background-size: cover;
  background-position: center center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Container para as paginas de Login e Registro */
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2em;
}

.active {
  color: green !important;
}

ul {
  list-style: none;
}

input::placeholder {
  color: rgb(173, 167, 167);
}
